
<main class="container">
  <app-navbar />

  <article class="main-content">
    <button class="back-button" routerLink="/">
      @if( isDark ) {
        <span class="back-icon-span">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="call-made">
          <path id="Shape" fill-rule="evenodd" clip-rule="evenodd" d="M6.46447 4.10744L7.64298 5.28596L3.75389 9.17504L18.6031 9.17504L18.6031 10.825L3.75389 10.825L7.64298 14.714L6.46447 15.8926L0.57191 10L6.46447 4.10744Z" fill="white"/>
          </g>
          </svg>
        </span> 

        <span>
          Back
        </span>
      }
      @else {
        <span class="back-icon-span">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="call-made">
          <path id="Shape" fill-rule="evenodd" clip-rule="evenodd" d="M6.46447 4.10744L7.64298 5.28596L3.75389 9.17504L18.6031 9.17504L18.6031 10.825L3.75389 10.825L7.64298 14.714L6.46447 15.8926L0.57191 10L6.46447 4.10744Z" fill="#111517"/>
          </g>
          </svg>
        </span> 

        <span>
          Back
        </span>
      }
    </button>

    <section class="country-details-section">
      @if( country$ | async; as country ) {
        <section class="country-details-flex">
          <div class="country-flag-div">
            <img class="country-flag-img" [src]="country.flags.svg" alt="Flag of {{ country.name.common }}" />
          </div>

          <article class="country-details-article">
            <h2>{{ country.name.common }}</h2>
            <div class="country-details-text-div">
              <div class="country-main-info">
                <p><strong>Native Name:</strong> {{ country.name.common }}</p>
                <p><strong>Population:</strong> {{ country.population | number }}</p>
                <p><strong>Region:</strong> {{ country.region }}</p>
                <p><strong>Sub Region:</strong> {{ country.subregion || 'N/A' }}</p>
                <p><strong>Capital:</strong> {{ country.capital?.[0] || 'N/A' }}</p>
              </div>

              <div class="country-sub-info">
                <p><strong>Top Level Domain:</strong> {{ country.tld || 'N/A' }}</p>
                <p><strong>Currencies:</strong> {{ getCurrencyList( country.currencies ) }}</p>
                <p><strong>Languages:</strong> {{ getLanguageList( country.languages ) }}</p>
              </div>

            </div>

            @if( borderCountries$ | async; as borders ) {
              <section class="border-countries-section">
                <h4>Border countries:</h4>
                @if( borders.length > 0 ) {
                  <div class="border-country-list">
                      @for (country of borders; track $index) {
                        @if( country ) {
                          <button (click)="goToDetails(country.cca3)">
                            {{ country.name.common }}
                          </button>
                        }
                        @else {
                          <p>N/A</p>
                        }
                      }
                  </div>
                }
              </section>
            }

          </article>

        </section>
      }
      @else {
        <strong>Loading country details...</strong>
      }
    </section>





  </article>

</main>