.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;

  input,
  select {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
}


.error-box {
  background-color: #ffe5e5;
  color: #c00;
  padding: 1rem;
  border: 1px solid #f00;
  border-radius: 6px;
  margin-bottom: 1rem;
}
