<main class="container">
  <app-navbar />

  <article class="main-content">
    <section class="filter-controls">
      <div class="search-input-div">
        <svg class="search-icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="search">
        <path id="Shape" fill-rule="evenodd" clip-rule="evenodd" d="M12.5 11H11.7L11.4 10.7C12.4 9.6 13 8.1 13 6.5C13 2.9 10.1 0 6.5 0C2.9 0 0 2.9 0 6.5C0 10.1 2.9 13 6.5 13C8.1 13 9.6 12.4 10.7 11.4L11 11.7V12.5L16 17.5L17.5 16L12.5 11ZM6.5 11C4 11 2 9 2 6.5C2 4 4 2 6.5 2C9 2 11 4 11 6.5C11 9 9 11 6.5 11Z" fill="currentColor"/>
        </g>
        </svg>

        <input
          type="text"
          [formControl]="searchControl"
          placeholder="Search for a country"
          class="search-input"
        />
      </div>

      <div class="select-wrapper">
        <select [formControl]="regionControl" class="select-input">
          <option value="">Filter by Region</option>
          <option>Africa</option>
          <option>Americas</option>
          <option>Asia</option>
          <option>Europe</option>
          <option>Oceania</option>
        </select>
      </div>
    </section>


    <section class="countries-display">
      @if( loading$ | async ) {
        <p class="total-countries-text">Loading countries....</p>
      }
      @if( countries$ | async; as countries ) {
        <p class="total-countries-text">Showing {{ countries.length }} countries</p>
        @if( countries.length > 0 ) {
          <div class="display-grid">
            @for( country of countries; let index = $index; track country.name.common; let count = $count ) {
              <div class="country-card" (click)="goToDetails(country.cca3)">
                <img
                  [src]="country.flags.png"
                  [alt]="country.flags.alt || country.name.common"
                  class="flag"
                />
                <div class="country-details-div">
                  <h3 class="common-name-text">{{ country.name.common }}</h3>
                  <p class="detail-title-text">Population: <span class="detail-body-text"> {{ country.population | number }} </span></p>
                  <p class="detail-title-text">Region: <span class="detail-body-text"> {{ country.region }}</span></p>
                  <p class="detail-title-text">Capital: <span class="detail-body-text">{{ country.capital?.[0] || 'N/A' }}</span> </p>
                </div>
              </div>
            }
          </div>
        }
        @else {
            <p>No countries match your search or filter.</p>
          }      
        }
        @if(errors$ | async; as error ) {
            <div class="error-box">
              <p>Error: {{ error }}</p>
              <button (click)="retryLoad()">Retry</button>  
            </div>
        }

    </section>

  </article>

</main>