@use '../../styles/_reusables' as *;


.container {
  background-color: var(--theme-bg);
  min-height: 100vh;


  .main-content {
   padding: 3rem 5rem;


   .filter-controls {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;
   }

   .search-input-div {
      position: relative;
   }

   .search-icon {
      position: absolute;
      left: 2rem;
      top: 1.2rem;
      pointer-events: none;

   }

   .search-input {
      background-color: var(--element-bg);
      width: 23rem;
      height: 3.5rem;
      padding: 0 4rem;
      border-radius: 0.4rem;
      border: none;
      @include regularFont();
      box-shadow: 0px 2px 9px 0px var(--theme-control-box-shadow-col);


      &::placeholder {
        color: var(--normal-text-col);
      }

   }

   .select-input {
      // appearance: none;
      background-color: var(--element-bg);
      width: 12.5rem;
      height: 3.5rem;
      padding: 1.2rem 1.5rem;
      border-radius: 0.4rem;
      border: none;
      @include regularFont();
      cursor: pointer;
      box-shadow: 0px 2px 9px 0px var(--theme-control-box-shadow-col);
   }


  .total-countries-text {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      @include subTitleFont()
  }

   .display-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
      gap: 2.4rem;
   }

   .country-card {
      background-color: var(--element-bg);
      width: 17rem;
      cursor: pointer;
      box-shadow: 0px 0px 7px 2px var(--theme-country-card-box-shadow-col);
      border-radius: 5px;
      transition: transform 0.3s ease, border-bottom 0.3s ease;


      &:hover {
         transform: translateY(-4%);
         border-bottom: 3px solid grey;
      }
   }


   .flag {
      width: 100%;
      height: 10rem;
      margin-bottom: 1.5rem;
   }


   .country-details-div {
      padding: 0 0 2.9rem 1.5rem;
   }

   .common-name-text {
      margin-bottom: 1rem;
      @include subTitleFont();
   }

   .detail-title-text {
      margin-bottom: 0.5rem;
      @include subTitleFont();
   }

   .detail-body-text {
      @include bodyFont();
   }

  }

}






@media (max-width: 600px ) {
.container {
  background-color: var(--theme-bg);


  .main-content {
   padding: 1.5rem 1rem;
   // background-color: purple;


   .filter-controls {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 3rem;
      // background-color: red;
   }

   .search-input-div {
      position: relative;
      width: 100%;
      // background-color: yellow;
   }

   .search-icon {
      position: absolute;
      left: 2rem;
      top: 1.2rem;
      pointer-events: none;

   }

   .search-input {
      // width: 23rem;
      width: 100%;
      height: 3.5rem;
      padding: 0 4rem;
      border-radius: 0.4rem;
      border: none;
      @include regularFont();
      margin-bottom: 2.5rem;
      // background-color: green;


      &::placeholder {
        color: var(--normal-text-col);
      }

   }

   .select-input {
      // appearance: none;
      width: 54%;
      height: 3.5rem;
      padding: 1.2rem 1.5rem;
      border-radius: 0.4rem;
      border: none;
      @include regularFont();
      cursor: pointer;
   }

   .display-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      gap: 2.4rem;
      padding: 0 2rem;
      // background-color: green;
   }

   .country-card {
      background-color: var(--element-bg);
      width: 100%;
      cursor: pointer;
      // background-color: blue;
   }


   .flag {
      width: 100%;
      height: 15rem;
      margin-bottom: 1.5rem;
   }


   .country-details-div {
      padding: 0 0 2.9rem 1.5rem;
   }

   .common-name-text {
      margin-bottom: 1rem;
      @include subTitleFont();
   }

   .detail-title-text {
      margin-bottom: 0.5rem;
      @include subTitleFont();
   }

   .detail-body-text {
      @include bodyFont();
   }

  }

}

}









@media (min-width: 601px ) and (max-width: 1023px) {
.container {
  background-color: var(--theme-bg);


  .main-content {
   padding: 1.5rem 1rem;
   // background-color: purple;


   .filter-controls {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 3rem;
      // background-color: red;
   }

   .search-input-div {
      position: relative;
      width: 100%;
      // background-color: yellow;
   }

   .search-icon {
      position: absolute;
      left: 2rem;
      top: 1.2rem;
      pointer-events: none;

   }

   .search-input {
      // width: 23rem;
      width: 100%;
      height: 3.5rem;
      padding: 0 4rem;
      border-radius: 0.4rem;
      border: none;
      @include regularFont();
      margin-bottom: 2.5rem;
      // background-color: green;


      &::placeholder {
        color: var(--normal-text-col);
      }

   }

   .select-input {
      // appearance: none;
      width: 54%;
      height: 3.5rem;
      padding: 1.2rem 1.5rem;
      border-radius: 0.4rem;
      border: none;
      @include regularFont();
      cursor: pointer;
   }

   .display-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      gap: 2.4rem;
      padding: 0 2rem;
      // background-color: green;
   }

   .country-card {
      background-color: var(--element-bg);
      width: 100%;
      cursor: pointer;
      // background-color: blue;
   }


   .flag {
      width: 100%;
      height: 15rem;
      margin-bottom: 1.5rem;
   }


   .country-details-div {
      padding: 0 0 2.9rem 1.5rem;
   }

   .common-name-text {
      margin-bottom: 1rem;
      @include subTitleFont();
   }

   .detail-title-text {
      margin-bottom: 0.5rem;
      @include subTitleFont();
   }

   .detail-body-text {
      @include bodyFont();
   }

  }

}

}
