<div class="filters">
  <input
    type="text"
    [formControl]="searchControl"
    placeholder="Search by country name"
  />

  <select [formControl]="regionControl">
    <option value="">All Regions</option>
    <option>Africa</option>
    <option>Americas</option>
    <option>Asia</option>
    <option>Europe</option>
    <option>Oceania</option>
  </select>
</div>


@if( loading$ | async ) {
  <p>Loading countries....</p>
}
@if (countries$ | async; as countries) {
  @if (countries.length > 0) {
    <div class="country-grid">
      @for (country of countries; let index = $index; track country.name.common; let count = $count ) {
        <div class="country-card" (click)="goToDetails(country.cca3)">
        <h3>Showing {{ index + 1 }} of {{ count }} countries</h3>
          <img
            [src]="country.flags.png"
            [alt]="country.flags.alt || country.name.common"
            class="flag"
          />
          <h3>{{ country.name.common }}</h3>
          <p>Population: {{ country.population | number }}</p>
          <p>Region: {{ country.region }}</p>
          <p>Capital: {{ country.capital?.[0] || 'N/A' }}</p>
        </div>
      }
    </div>
  } @else {
    <p>No countries match your search or filter.</p>
  }
}

@if(errors$ | async; as error ) {
    <div class="error-box">
      <p>Error: {{ error }}</p>
      <button (click)="retryLoad()">Retry</button>  
    </div>

}
