@use './app/styles/_resets' as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');




:root {
    --theme-bg: #F2F2F2;
    --element-bg: #FFFFFF;
    --title-text-col: #111517;
    --sub-title-text-col: #111517;
    --normal-text-col: #848484;
    --font-col: #111517;
    --theme-nav-box-shadow-col: rgba(0, 0, 0, 0.0562);
    --theme-control-box-shadow-col: rgba(0, 0, 0, 0.0532);
    --theme-country-card-box-shadow-col: rgba(0, 0, 0, 0.0294);
    --theme-btn-box-shadow-col: rgba(0, 0, 0, 0.2931);
    --theme-icon-bg: #111517;
    --theme-element-hover-col: blue;
}



body.dark {
    --theme-bg: #202C36;
    --element-bg: #2B3844;
    --title-text-col: #FFFFFF;
    --sub-title-text-col: #FFFFFF;
    --normal-text-col: #FFFFFF;
    --font-col: #FFFFFF;
    --theme-nav-box-shadow-col: rgba(0, 0, 0, 0.0562);
    --theme-control-box-shadow-col: rgba(0, 0, 0, 0.0532);
    --theme-country-card-box-shadow-col: rgba(#FFFFFF, 0.029);
    --theme-icon-bg: #FFFFFF;
    --theme-element-hover-col: #fff;

}


body.dark .select-input {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.45 3.45L6 6.9L2.55 3.45L1.5 4.5L6 9L10.5 4.5L9.45 3.45Z' fill='%23FFFFFF'/%3E%3C/svg%3E") !important;
}
