@use './app/styles/_resets' as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');




:root {
    --theme-bg: #F2F2F2;
    --element-bg: #FFFFFF;
    --title-text-col: #111517;
    --sub-title-text-col: #111517;
    --normal-text-col: #848484;
    --font-col: #111517;
    --theme-nav-box-shadow-col: rgba(0, 0, 0, 0.0562);
    --theme-control-box-shadow-col: rgba(0, 0, 0, 0.0532);
    --theme-country-card-box-shadow-col: rgba(0, 0, 0, 0.0294);
    --theme-btn-box-shadow-col: rgba(0, 0, 0, 0.2931);
    --theme-icon-bg: #111517;
    --theme-element-hover-col: blue;
}



body.dark {
    --theme-bg: #000;
    --element-bg: #2B3844;
    --title-text-col: #FFFFFF;
    --sub-title-text-col: #FFFFFF;
    --normal-text-col: #FFFFFF;
    --font-col: #FFFFFF;
    --theme-nav-box-shadow-col: rgba(0, 0, 0, 0.0562);
    --theme-control-box-shadow-col: rgba(0, 0, 0, 0.0532);
    --theme-country-card-box-shadow-col: rgba(#FFFFFF, 0.029);
    --theme-icon-bg: #FFFFFF;
    --theme-element-hover-col: #fff;

}
